.main {
    background: linear-gradient(90deg, #e0f0fa 0%, #f1e7f5 100%);
  }
  .green {
    background: rgb(235,249,226);
    background: linear-gradient(90deg, #ebf9e2 0%, #fef4ce 100%);
  }

  .green_blue {
    background: linear-gradient(90deg, #daf7ef 0%, #e7f4fa 100%);
  }

  .blue {
    background: linear-gradient(90deg, #f0e7f5 0%, #d5eef9 100%);
  }

  .yellow {
    background: rgb(235,249,226);
    background: linear-gradient(90deg, #ebf9e2 0%, #fef4ce 100%);
  }
  .dark_blue {
    background: linear-gradient(90deg, #f0e7f5 0%, #d5eef9 100%);
  }

  .node-foreign-object-div {
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;

  }
  .node-button-foreign-object{
      display:none;
  }
 
