.first-team-page{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.top-users{
    display: flex;
    justify-content: space-between;
}
.bottom-users{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.first-team-section{

    padding-top: 180px;
}