.general-info-text-section{
    margin-right: 32px;
}
.general-info__inner{
    display: flex;
    align-items: center;
 
}
@media all and (max-width: 576px){
    .general-info__inner{
        flex-wrap: wrap;
    }
    .general-info__inner img{
      
        width: 100%;
    }
    .general-info-text-section{
    
       
    }
  }