@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;600;700&display=swap');
*,*:before,*:after{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #444E55;
  box-sizing: border-box;
}
.container{
  width: 79%;
  max-width: 1140px;
  margin: 0 auto;
}
body{
  margin-top: 82px;
  font-family: 'Open Sans', sans-serif;
}
@media all and (max-width: 576px){
  .container{
    width: 543px;
  }

}
@media all and (max-width: 321){
  .container{
    width: 268px;
  }

}